
# ==========================================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# ==========================================
firmware/build/
firmware/sdkconfig.old
firmware/managed_components/

# ==========================================
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
ENV/
