
# ==========================================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# ==========================================
# Thư mục build chứa file nhị phân dịch ra (rất nặng, không push)
firmware/build/
firmware/sdkconfig.old
firmware/managed_components/

# ==========================================
# Bộ đệm Python & Môi trường ảo (Virtual Environment)
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
ENV/
